<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatosPrueba.Properties.Settings.bd_farmaciaConnectionString"
            connectionString="Data Source=DESKTOP-VJ244OG\SQLEXPRESS;Initial Catalog=bd_farmacia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>